<%= form_with(model: proponent) do |form| %>
  <% if proponent.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(proponent.errors.count, "error") %> prohibited this proponent from being saved:</h2>

      <ul>
        <% proponent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div data-controller="financial">
      <%= form.label :wage %>
      <%= form.number_field :wage,
        value: number_to_currency(proponent.wage.to_f, delimiter: "", unit: ""),
        step: :any,
        data: { action: "blur->financial#calculateInss", 'financial-target' => "wage" }
      %>

      <div id="tax">
        <p style="margin: 0px;" data-financial-target="inss">Valor do desconto do INSS: </p>
      </div>
    </div>
    <div>
      <%= form.label :cpf %>
      <%= form.text_field :cpf %>
    </div>
    <div>
      <%= form.label :birthdate %>
      <%= form.date_field :birthdate %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
