<div id="<%= dom_id proponent %>">
  <ul>
    <li>
      <%= proponent.name %>
    </li>

    <li>
      <%= proponent.cpf %>
    </li>

    <li>
      <%= proponent.birthdate %>
    </li>

    <li>
      <%= proponent.wage %>
    </li>
  </ul>
</div>
